{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{%  block stylesheets %}
    {{ parent() }}

    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <main>

            <!-- Title -->
            <div class="titrePage">

                <img src="{{ asset('assets/Logos/TheLazyStreaming.png') }}" alt="TheLazyStreaming Logo" width="130">

                <small>Saisissez le code pour la recuperation de compte reçu par mail</small>
                <h1>Saisissez le code</h1>
                <div class="barreJaune"></div>
            </div>

            <!-- Formulaire Mot de passe oublie -->
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn" id="enregistrer" value="Envoyer">Envoyer</button>
            </div>
            {{ form_end(form) }}

        </main>
    </div>
{% endblock %}