{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% if tmdbDetails.title is defined %}
            {% set title = tmdbDetails.title %}
            {% set originalTitle = tmdbDetails.original_title %}
            {% set releaseDate = tmdbDetails.release_date %}
        {% else %}
            {% set title = tmdbDetails.name %}
            {% set originalTitle = tmdbDetails.original_name %}
            {% set releaseDate = tmdbDetails.first_air_date %}
        {% endif %}
        <li>
            <img src="https://image.tmdb.org/t/p/w500/{{ tmdbDetails.backdrop_path }}" alt="{{ title }}">
        </li>
        <li>
            <img src="https://image.tmdb.org/t/p/w500/{{ tmdbDetails.poster_path }}" alt="{{ title }}">
        </li>
        <li>
            {{ title }}
        </li>
        <li>
            {{ originalTitle }}
        </li>
        <li>
            {{ releaseDate }}
        </li>
        {% if tmdbDetails.overview is not empty %}
            <li>
                {{ tmdbDetails.overview }}
            </li>
        {% endif %}
        {% if tmdbDetails.original_language is not empty %}
            <li>
                {{ tmdbDetails.original_language }}
            </li>
        {% endif %}
        {% if tmdbDetails.popularity is not empty %}
            <li>
                {{ tmdbDetails.popularity }}
            </li>
        {% endif %}
        {% if tmdbDetails.vote_average is not empty %}
            <li>
                {{ tmdbDetails.vote_average }}
            </li>
        {% endif %}
        {% if imdbDetails.description is defined %}
            <li>
                {{ imdbDetails.description }}
            </li>
        {% endif %}
        {% if imdbDetails.imdb_rating is defined %}
            <li>
                {{ imdbDetails.imdb_rating }}
            </li>
        {% endif %}
        {% if imdbDetails.youtube_trailer_key is defined %}
            <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ imdbDetails.youtube_trailer_key }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {{ imdbDetails.youtube_trailer_key }}
            </li>
        {% endif %}
        {% if imdbDetails.stars is defined and imdbDetails.stars is not empty %}
            <hr>
            <li>
                stars :
            </li>
            {% for stars in imdbDetails.stars %}
                <li>
                    {{ stars }}
                </li>
            {% endfor %}
        {% endif %}
        {% if imdbDetails.directors is defined and imdbDetails.directors is not empty %}
            <hr>
            <li>
                directors :
            </li>
            {% for directors in imdbDetails.directors %}
                <li>
                    {{ directors }}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <a href="javascript:history.go(-1)">Retour à la recherche</a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        {{ form_start(form) }}

        {{ form_widget(form.content) }}

        {% if type == 'movie' %}
            {{ form_widget(form.id_movie_tmdb, {'attr': {'value': id }}) }}
        {% else %}
            {{ form_widget(form.id_serie_tmdb, {'attr': {'value': id }}) }}
        {% endif %}
        <input type="submit" value="Envoyer" class="btn btn-primary">
        {{ form_end(form) }}

    {% else %}
        <p>Pour poster un commentaire, <a href="{{ path('security.login') }}">
                connectez-vous</a> ou <a href="{{ path('user.signup') }}">créez un compte</a>.</p>
    {% endif %}
    {% if comments is not empty %}
        {% for comment in comments %}
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Ajouté par {{ comment.user.firstname }} {{ comment.user.lastname }}
                        le {{ comment.createdAt|date("d/m/Y", 'Europe/Paris') }}
                        à {{ comment.createdAt|date("H:m", 'Europe/Paris') }}
                    </h4>
                    <p class="card-text">{{ comment.content }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}