{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% if result.title is defined %}
            {% set type = 'movie' %}
            <li>
                <img src="https://image.tmdb.org/t/p/w500/{{ result.backdrop_path }}" alt="{{ result.title }}">
            </li>
            <li>
                <img src="https://image.tmdb.org/t/p/w500/{{ result.poster_path }}" alt="{{ result.title }}">
            </li>
            <li>
                {{ result.title }}
            </li>
            <li>
                {{ result.original_title }}
            </li>
            <li>
                {{ result.release_date }}
            </li>
        {% else %}
            {% set type = 'tv' %}
            <li>
                <img src="https://image.tmdb.org/t/p/w500/{{ result.backdrop_path }}" alt="{{ result.name }}">
            </li>
            <li>
                <img src="https://image.tmdb.org/t/p/w500/{{ result.poster_path }}" alt="{{ result.name }}">
            </li>
            <li>
                {{ result.name }}
            </li>
            <li>
                {{ result.original_name }}
            </li>
            {% if result.first_air_date is defined %}
                <li>
                    {{ result.first_air_date }}
                </li>
            {% endif %}
        {% endif %}
        <li>
            {{ result.overview }}
        </li>
        <li>
            {{ result.original_language }}
        </li>
        <li>
            {{ result.popularity }}
        </li>
        <li>
            {{ result.vote_average }}
        </li>
    </ul>

    <a href="{{ path('search.detailsDisplay', {'type': type, 'id': result.id }) }}" type="button" class="btn btn-primary">Voir</a>

    <a href="javascript:history.go(0)" class="btn btn-primary">Recharger</a>

{% endblock %}